 <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<section class="container mx-auto p-4">
    <div class="flex flex-wrap justify-center items-start gap-4">
        <!-- Game Image Container -->
        <div class="flex-initial w-full md:w-1/2 lg:w-1/3">
            <img src="{{ gameImage }}" alt="{{ gameTitle }}" class="object-cover w-full h-auto rounded">
        </div>

        <!-- Game Title and Summary Container -->
        <div class="flex-initial w-full md:w-1/2 lg:w-2/3">
            <h2 class="text-white text-3xl font-bold">{{ gameTitle }}</h2>
            <!-- Display Game Summary -->
            <div class="game-summary text-white mt-2">
                <h3 class=" font-semibold">Summary</h3>
                <p class="game-text {{textClass}}">{{{ gameSummary }}}</p>
            </div>
        </div>
    </div>

   <!-- Comments Section -->
<div class="comments-container text-center mt-8">
    <h3 class="text-white text-2xl font-bold mt-6">Comments</h3>
    
    <!-- Comment Form if Authenticated -->
    {{#if loggedIn}}
    <form action="/game-review/{{gameId}}/post-comment" method="POST">  
        <textarea name="commentText" placeholder="Write a comment" class="w-full p-2 border rounded"></textarea>
        <button type="submit" class="mt-2 bg-indigo-600 text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors">Submit Comment</button>
    </form>
    {{else}}
    <!-- Prompt to Sign in if Not Authenticated -->
    <p class="mt-4 text-white">Sign in to leave a comment</p>
    {{/if}} 
    
    <!-- Display Comments -->
    <section class="comments-section mt-4">
        <div id="commentList" class="mt-2">
            {{#each comments}}
            <div class="comment bg-gray-800 bg-opacity-50 p-4 rounded mt-2">
                <p class="text-gray-300">{{text}}</p>
                <p class="text-white font-bold">{{user.username}}</p>
            </div>
            {{/each}}
        </div>
    </section>
</div>

</section>
